.container-fluid.imperium-solid-background-heavy.imperium-top-nav
    .col-md-2(style="padding-top:25px")
        select#select-planeta
            each setor in userdata.setores
                optgroup(label=""+setor.setor.nome + "[" + setor.setor.posX + "," + setor.setor.posY + "]")
                    each planeta in setor.planetas
                        if(planeta.colonizado)
                            option(value=""+planeta.id)= planeta.nome
    .col-md-8
        .imperium-resource-list 
            div#recurso-ferro
                .imperium-resource.imperium-resource-iron
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Ferro
                    .imperium-resource-tooltip-desc
                        span Disponível: 
                            span.recurso-atual
                        br
                        span Capacidade: 
                            span.recurso-capacidade
                        br
                        span Produção: 
                            span.recurso-producao
                    
                span.recurso-atual

            div#recurso-cristal
                .imperium-resource.imperium-resource-cristal
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Cristal
                    .imperium-resource-tooltip-desc
                        span Disponível: 
                            span.recurso-atual
                        br
                        span Capacidade: 
                            span.recurso-capacidade
                        br
                        span Produção: 
                            span.recurso-producao
                span.recurso-atual 
            div#recurso-titanio
                .imperium-resource.imperium-resource-titanium
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Titânio
                    .imperium-resource-tooltip-desc
                        span Disponível: 
                            span.recurso-atual
                        br
                        span Capacidade: 
                            span.recurso-capacidade
                        br
                        span Produção: 
                            span.recurso-producao
                span.recurso-atual
            div#recurso-componente
                .imperium-resource.imperium-resource-component
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Componente
                    .imperium-resource-tooltip-desc
                        span Disponível: 
                            span.recurso-atual
                        br
                        span Capacidade: 
                            span.recurso-capacidade
                        br
                        span Produção: 
                            span.recurso-producao
                span.recurso-atual
            div#recurso-comida
                .imperium-resource.imperium-resource-food
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Comida
                    .imperium-resource-tooltip-desc
                        span Disponível: 
                            span.recurso-atual
                        br
                        span Capacidade: 
                            span.recurso-capacidade
                        br
                        span Produção: 
                            span.recurso-producao
                span.recurso-atual
            div#recurso-energia
                .imperium-resource.imperium-resource-energy
                .imperium-resource-tooltip
                    .imperium-resource-tooltip-title
                        span Energia
                    .imperium-resource-tooltip-desc
                        span Produção: 
                            span.energia-atual.text-success
                        br
                        span Consumo: 
                            span.energia-consumo.text-danger
                        br
                        span Disponível: 
                            span.recurso-atual
                span.recurso-atual
            

            