aside
  #abrir_menu_div
    img#abrir_menu_div_fechar(src='images/fechar.png', alt='Menu', style='display: none')
    img#abrir_menu_div_seta(src='images/seta.png', alt='Menu')
  ul
    a(href = '/').link-planeta
        li
            img(src='images/info.png', alt='')
            span Visão Geral
    a(href = '/recursos').link-planeta
        li
            img(src='images/recursos.png', alt='')
            span Recursos
    a(href = '/').link-planeta
        li
            img(src='images/edificios.png', alt='')
            span Instalações
    a(href = '/').link-planeta
        li
            img(src='images/pesquisa.png', alt='')
            span Pesquisas
    a(href = '/alianca').link-planeta
        li
            img(src='images/alianca.png', alt='')
            span Aliança
    -if(userdata.alianca != null){
    a(href = '/forum').link-planeta
        li
            img(src='images/alianca.png', alt='')
            span Fórum da aliança
    -}
