aside
  #abrir_menu_div
    img#abrir_menu_div_fechar(src='images/fechar.png', alt='Menu', style='display: none')
    img#abrir_menu_div_seta(src='images/seta.png', alt='Menu')
  ul
    a(href = '/').link-planeta
        li
            img(src='images/info.png', alt='')
            span Visão Geral
    a(href = '/recursos').link-planeta
        li
            img(src='images/recursos.png', alt='')
            span Recursos
    a(href = '/').link-planeta
        li
            img(src='images/edificios.png', alt='')
            span Instalações
    a(href = '/').link-planeta
        li
            img(src='images/pesquisa.png', alt='')
            span Pesquisas
    a(href = '/alianca').link-planeta
        li
            img(src='images/alianca.png', alt='')
            span Aliança
script.
    var estado_menu = 0;
    $(document).ready(function() {
        $("#abrir_menu_div").on('click', function() {
            if (estado_menu == 0) {
                $("#abrir_menu_div_seta").css("display", "none");
                $("#abrir_menu_div_fechar").css("display", "block");
                $("aside").css("width", "100%");
                estado_menu = 1;
            } else {

                $("#abrir_menu_div_seta").css("display", "block");
                $("#abrir_menu_div_fechar").css("display", "none");
                $("aside").css("width", "");
                estado_menu = 0;
            }
        });
    });
