nav(style="background-color:#00299e").navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="/").navbar-brand
                img(alt="UFSM", src="/images/logo_pre.png" width="20px")
            a.navbar-brand(href='/opcoes')#nav-nick
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li
                    a(href ="/inicial").link-planeta Inicial
                li 
                    a(href ="/mensagens").link-planeta#link-mensagens Mensagens 
                        span
                li
                    a(href ="/ranking").link-planeta#link-ranking Classificação 
                        span
                li
                    a(href="#")#link-convites Convites
                li
                    a(href ="/opcoes").link-planeta Opcoes
                li
                    a(href="#")#logout-link Logout  

#modal-convites.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Convites
            .modal-body(style = 'overflow:scroll')
              .container-fluid
                .row
                    .col-md-12
                        .tabbable-panel
                            .tabbable-line
                                ul.nav.nav-tabs
                                    li.tab-btn
                                        a(href ="#") Pedidos de amizade
                                    li.tab-btn#tab-convites
                                        a(href ="#") Convites para aliança
                                .tab-content-convite
    
