nav(style="background-color:#00299e").navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="/").navbar-brand
                img(alt="UFSM", src="/images/logo_pre.png" width="20px")
            a.navbar-brand(href='/opcoes')#nav-nick
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li
                    a(href ="/inicial") Inicial
                li 
                    a(href ="/mensagens")#link-mensagens Mensagens 
                        span
                li
                    a(href ="/ranking")#link-ranking Ranking 
                        span
                li
                    a(href ="/opcoes") Opcoes
                li
                    a(href="#")#logout-link Logout  
script.
    $("#nav-nick").html(userdata.session.nick)
    $("#link-ranking span").text("(" + userdata.rank + ")")
    $("#link-mensagens span").text("(" + userdata.caixaEntrada + ")")
    $("#logout-link").on('click', function()
    {
        $.ajax({
            url : "usuario/logout",
            method : "POST",
            success : function()
            {
                window.location.href = "/";
            },
            error : function(erro)
            {
                GerarNotificacao(erro.responseText, "danger");
            }
        });
    });