.container-fluid.imperium-solid-background-heavy
    .col-md-2
    .col-md-8
        .imperium-resource-list 
            div#recurso-ferro
                .imperium-resource.imperium-resource-iron
                span.recurso-atual 300
            div#recurso-cristal
                .imperium-resource.imperium-resource-cristal
                span.recurso-atual 300
            div#recurso-titanio
                .imperium-resource.imperium-resource-titanium
                span.recurso-atual 300
            div#recurso-componente
                .imperium-resource.imperium-resource-component
                span.recurso-atual 300
            div#recurso-comida
                .imperium-resource.imperium-resource-food
                span.recurso-atual 300
            div#recurso-energia
                .imperium-resource.imperium-resource-energy
                span.recurso-atual 300
            

            