.container
    h2 Recursos
    .row
        #recurso-ferro.col-md-3 Ferro: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-cristal.col-md-3 Cristal: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-uranio.col-md-3 Urânio: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
    .row
        hr
        #recurso-eletronica.col-md-3 Eletrônica: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-combustivel.col-md-3 Combustível: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-comida.col-md-3 Comida: 
            br
            | Atual: 
            span.recurso-atual
            br
            | Producao: 
            span.recurso-producao.text-success
    .row
        hr
        #recurso-energia.col-md-3 Energia: 
            br
            | Atual: 
            span.recurso-atual
            