.container
    h2 Recursos
    .row
        #recurso-ferro.col-md-3 Ferro: 
            br
            | Atual: 
            span.recurso-atual
            | /
            span.total-armazenavel
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-cristal.col-md-3 Cristal: 
            br
            | Atual: 
            span.recurso-atual
            | /
            span.total-armazenavel
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-titanio.col-md-3 Titânio: 
            br
            | Atual: 
            span.recurso-atual
            | /
            span.total-armazenavel
            br
            | Producao: 
            span.recurso-producao.text-success
    .row
        hr
        #recurso-componente.col-md-3 Componentes: 
            br
            | Atual: 
            span.recurso-atual
            | /
            span.total-armazenavel
            br
            | Producao: 
            span.recurso-producao.text-success
        #recurso-comida.col-md-3 Comida: 
            br
            | Atual: 
            span.recurso-atual
            | /
            span.total-armazenavel
            br
            | Producao: 
            span.recurso-producao.text-success
    .row
        hr
        #recurso-energia.col-md-3 Energia: 
            br
            | Atual: 
            span.recurso-atual
            