.container-fluid.imperium-solid-background-heavy.imperium-top-nav
    .col-md-2(style="padding-top:25px")
        select#select-planeta
            each setor in userdata.setores
                optgroup(label=""+setor.setor.nome + "[" + setor.setor.posX + "," + setor.setor.posY + "]")
                    each planeta in setor.planetas
                        if(planeta.colonizado)
                            option(value=""+planeta.id)= planeta.nome
    .col-md-8
        .imperium-resource-list 
            div#recurso-ferro
                .imperium-resource.imperium-resource-iron
                span.recurso-atual 300
            div#recurso-cristal
                .imperium-resource.imperium-resource-cristal
                span.recurso-atual 300
            div#recurso-titanio
                .imperium-resource.imperium-resource-titanium
                span.recurso-atual 300
            div#recurso-componente
                .imperium-resource.imperium-resource-component
                span.recurso-atual 300
            div#recurso-comida
                .imperium-resource.imperium-resource-food
                span.recurso-atual 300
            div#recurso-energia
                .imperium-resource.imperium-resource-energy
                span.recurso-atual 300
            

            