aside.imperium-side-menu.imperium-scrollbar
    #abrir_menu_div
        img#abrir_menu_div_fechar(src='/images/fechar.png', alt='Menu', style='display: none')
        img#abrir_menu_div_seta(src='/images/seta.png', alt='Menu')
    .imperium-background-side-menu#imperium-background-side-menu-planeta
        h3 Planeta
    ul
        a(href = '/').link-planeta
            li.imperium-fake-line-before
                img(src='/images/info.png', alt='')
                span Visão Geral
        a(href = '/').link-planeta
            li.imperium-fake-line-before
                img(src='/images/edificios.png', alt='')
                span Edíficios
        a(href = '/').link-planeta
            li.imperium-fake-line-before
                img(src='/images/ship1.png', alt='')
                span Frota
    .imperium-background-side-menu#imperium-background-side-menu-jogador
        h3 Jogador
    ul(style="position:relative")
        a(href = '/').link-planeta
            li.imperium-fake-line-before
                img(src='/images/pesquisa.png', alt='')
                span Pesquisas
        a(href = '/ranking').link-planeta#link-ranking
            li.imperium-fake-line-before
                img(src='/images/crown.png', alt='')
                span Classificação
        a(href = '/mensagens').link-planeta#link-mensagens
            li.imperium-fake-line-before
                img(src='/images/email-icon.png', alt='')
                span Mensagens
        a(href = '#')#link-convites
            li.imperium-fake-line-before
                img(src='/images/email-icon.png', alt='')
                span Convites
    .imperium-background-side-menu#imperium-background-side-menu-mapa
        h3 Mapa
    ul
        a(href = '/alianca').link-planeta
            li.imperium-fake-line-before
                img(src='/images/galaxy1.png', alt='')
                span Setor
        a(href = '/galaxia').link-planeta
            li.imperium-fake-line-before
                img(src='/images/galaxy2.png', alt='')
                span Galáxia
    .imperium-background-side-menu#imperium-background-side-menu-alianca
        h3 Aliança
    ul
        a(href = '/alianca').link-planeta
            li.imperium-fake-line-before
                img(src='/images/alianca.png', alt='')
                span Aliança
        a(href = '/forum').link-planeta.hidden#aside-menu-forum
            li.imperium-fake-line-before
                img(src='/images/alianca.png', alt='')
                span Fórum da aliança

    .imperium-background-side-menu#imperium-background-side-menu-outros
        h3 Outros
    ul(style="position:relative")
        a(href = '/opcoes').link-planeta
            li.imperium-fake-line-before
                img(src='/images/cog-icon.png', alt='')
                span Opções
        a(href = '#').link-planeta#logout-link
            li.imperium-fake-line-before
                img(src='/images/power-icon.png', alt='')
                span Logout
        
