doctype html
html(lang="pt-br")
  head
    title  
      block titulo
      |  - Imperium
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    block posHead
    script(src="bundle.general.userdata.js")
  body.imperium-body
    include recursos
    include aside-navbar
    main
      block content
    #modal-convites.modal.fade(role='dialog').imperium-modal
      .modal-dialog
          .modal-content
              .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Convites
              .modal-body(style = 'overflow:scroll')
                .container-fluid
                  .row
                      .col-md-12
                          .tabbable-panel
                              .tabbable-line
                                  ul.nav.nav-tabs.imperium-nav-tabs
                                      li.tab-btn
                                          a(href ="#") Pedidos de amizade
                                      li.tab-btn#tab-convites
                                          a(href ="#") Convites para aliança
                                  .tab-content-convite
    block posscripts

      
      