extends ../../templates/layout
block titulo
block content
    h1.imperium-title Página Externa da 
        span
    .imperium-gradient-background-medium(style="padding-bottom:15px")     
        .table-responsive
            table.table.table-striped.imperium-table#tabela-geral-alianca
                tbody 
                    tr
                        td Nome:
                        td.nome.td-nome
                    tr
                        td TAG:
                        td.tag.td-tag
                    tr
                        td Membros:
                        td.membros-contagem
                    tr
                        td(colspan ="2")#pagina-externa
        .row#row-btn-enviar-aplicacao.hidden
            .col-md-offset-4.col-md-4.text-center
                button.btn.btn-primary.btn-lg.btn-block#btn-enviar-aplicacao.imperium-input Enviar Aplicação
    #modal-aplicacao.modal.fade(role='dialog').imperium-modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Enviar aplicação
                .modal-body
                    .row
                        #conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
                            form(onsubmit='return false')
                                .form-group
                                    .form-group
                                        label(for='aplicacao').imperium-label Texto da aplicação: 
                                        textarea(name='aplicacao', rows = '10', style = "resize: vertical; width:100%")#aplicacao-text.form-control.imperium-input
                                .row
                                    .col-md-12.text-center
                                        button.btn.btn-success.btn-lg.btn-block(type='submit').imperium-input Enviar
    
    
block posscripts
    script(src="js/dist/pages/paginaExterna.bundle.js")