.opcoes-container{
    padding: 0px ;
    color: white;
    box-shadow: 0px 0px 1px #3661b2;
    margin-bottom:25px;
}

.opcoes-container form, p{
    padding: 10px;
}

.opcoes-container p
{
    text-align: center;
}

.opcoes-container-title
{
    padding:5px 10px; 
}

.opcoes-container-title h2
{
    margin: 0px;
    color: #f07b05;
    font-family: 'exo 2';
}