extends ../../templates/layout
block titulo
  | Opções
block content     
    h1.imperium-title Opções
    .container-fluid
      .row
        .col-md-12.col-sm-12.imperium-solid-background-medium.opcoes-container
          .opcoes-container-title.imperium-gradient-background-heavy2
            h2 Alterar Nick
          form(onsubmit="return false")#form-alterar-nick
            .form-group
              label(for = "nick").imperium-label Novo nick:
              input(type="text", value = "", name = "nick")#nick-atual.form-control.imperium-input
            .row.text-center
              .col-md-6.col-md-offset-3
                button(type ="submit").btn-success.btn.btn-block.imperium-input Alterar
        .col-md-12.col-sm-12.imperium-solid-background-medium.opcoes-container
          .opcoes-container-title.imperium-gradient-background-heavy2 
            h2 Alterar Email
          form(onsubmit="return false")#form-alterar-email
            .form-group
              label(for = "email").imperium-label Novo email:
              input(type="text", value = "", name = "email").imperium-input#email-atual.form-control
            .form-group
              label(for = "confemail").imperium-label Confirmação do novo email:
              input(type="text", name = "confemail", placeholder = "exemplo@dominio.com").imperium-input.form-control
            .row.text-center
              .col-md-6.col-md-offset-3
                button(type ="submit").btn-success.btn.btn-block.imperium-input Alterar
        .col-md-12.col-sm-12.imperium-solid-background-medium.opcoes-container 
          .opcoes-container-title.imperium-gradient-background-heavy2
            h2 Alterar Senha
          form(onsubmit="return false")#form-alterar-senha
            .form-group
              label(for = "senhaatual").imperium-label Digite sua senha atual:
              input(type="password", name = "senhaatual", placeholder = "*****").imperium-input.form-control
            .form-group
              label(for = "senha").imperium-label Digite a sua nova senha:
              input(type="password", name = "senha" placeholder = "*****").imperium-input.form-control
            .form-group
              label(for = "confsenha").imperium-label Confirme sua nova senha:
              input(type="password", name = "confsenha" placeholder = "*****").imperium-input.form-control
            .row.text-center
              .col-md-6.col-md-offset-3
                button(type ="submit").imperium-input.btn-success.btn.btn-block Alterar
        .col-md-12.col-sm-12.imperium-solid-background-medium.opcoes-container 
          .opcoes-container-title.imperium-gradient-background-heavy2
            h2 Conta ativada:
                  b.text-success.conta-ativa.hidden Sim
                  b.text-danger.conta-n-ativa.hidden Não
          .conta-n-ativa.hidden
            p Você não têm acesso a todos os recursos do jogo enquanto a sua conta não é ativada.
            .row.text-center
                .col-md-6.col-md-offset-3
                  button(type = "button").btn.btn-primary.btn-block#btn-enviar-ativo Reenviar email de ativação
          
block posscripts