extends ../../../../../templates/userdata-layout
block titulo
  | Operações Militares
block content     
  .table-responsive.imperium-scrollbar
      table.table.table-bordered.imperium-table#operacoes.imperium-table-background
        thead
          tr
            th Tipo
            th Frota
            th Recursos
            th Setor Origem
            th Setor Atual
            th Setor Destino
            th Estágio
        tbody
          
block posscripts