extends templates/layout
block titulo
  | Aliança
block content     
  .container-fluid
    .row
      h1#titulo-alianca Aliança
      -if (userdata.alianca == null){
      .row
        .col-sm-12.col-md-offset-3.col-md-6#sem-alianca
          h3 Sem aliança
          hr
          h4 Criar Aliança
          form(onsubmit = "return false")#form-criar-alianca
            .form-group
              label(for="nome") Nome da aliança:
              input(type="text", name="nome", placeholder = "Digite o nome da aliança que será criada", required).form-control
            .form-group
              label(for="tag") Tag da aliança:
              input(type="text", name="tag", placeholder = "Digite o tag da aliança que será criada", required).form-control
            .row
              .col-md-offset-3.col-md-6.text-center
                  button.btn.btn-primary.btn-lg.btn-block(type='submit') Criar
      -if(aplicacao != false){
      .row
        .col-sm-12.col-md-offset-3.col-md-6#sem-alianca
          h3.text-center Aplicação enviada para 
            =aplicacao.alianca.nome
          .col-md-offset-3.col-md-6.text-center
              button.btn.btn-danger.btn-lg.btn-block(type='button')#btn-cancelar-aplicacao Cancelar Aplicação
      -}
      -}else{
      .row
        .col-md-12#com-alianca
          .tabbable-panel
            .tabbable-line
                ul.nav.nav-tabs
                  li.tab-btn
                    a(href ="#") Visão Geral
                  li.tab-btn
                    a(href = "#") Administração
                  li.tab-btn
                    a(href = "#") Mensagem Circular
                  li.tab-btn#tab-aplicacoes
                    a(href = "#") Aplicações
                .tab-content
                  .table-responsive
                    table.table.table-striped#tabela-geral-alianca
                      tbody 
                        tr
                          td Nome:
                          td.nome
                        tr
                          td TAG:
                          td.tag
                        tr
                          td Membros:
                          td.membros-contagem
                        tr
                          td O seu cargo:
                          td.cargo
          .row
              .col-md-offset-4.col-md-4.text-center
                  button.btn.btn-warning.btn-lg.btn-block#btn-sair-alianca Sair da Aliança
      -}
    
  include includes/enviar-mensagem-privada

block posscripts
  script(src="js/meta/mensagens.js")
  script(src="js/meta/view_alianca.js")