extends templates/layout
block titulo
  | Visão Geral
block content     
    include includes/navbar
    .container
      .row
        button(type="button", data-tipo = "pontosTotal").btn.btn-warning.btn-pontos.active Pontuação total
        button(type="button", data-tipo = "pontosEconomia").btn.btn-primary.btn-pontos Pontuação Econômica
        button(type="button", data-tipo = "pontosMilitar").btn.btn-danger.btn-pontos Pontuação Militar
        button(type="button", data-tipo = "pontosPesquisa").btn.btn-success.btn-pontos Pontuação de pesquisa
      .row
        .col-md-12
          br
          .table-responsive
            table.table.table-bordered
              tbody#conteudo-forum
        .paginacao.pagination
        #conteudo-forum-admin


block posscripts