doctype html
html
  head
    title= title
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    
    link(rel='stylesheet', href="/stylesheets/bundle_style.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/socket.io.js")
    
  body
    block content
    script(src="js/jquery.js")
    script(src="js/bootstrap.bundle.min.js")
    script(src="js/bootbox.min.js")
    script(src="js/bootstrap-notify.min.js")
    script(src="js/util.js")
    block posscripts