extends templates/layout

block titulo
  | Login

block content     
  .container
  .row
    .col-md-offset-3.col-md-6.mx-auto.text-center
      .header-title
        h1 Imperium 
        h2.wv-heading--subtitle Login
  .row
    .col-md-offset-4.col-md-4.mx-auto
      .myform.form
        form(onsubmit="return false")#form-login
          .form-group
            label(for="nick") Nick ou email:
            input.form-control.my-input(type='text', name='usuario', placeholder='Digite seu nick ou email')
          .form-group
            label(for="senha") Senha:
            input.form-control.my-input(type='password', name='senha', placeholder='*******')
          .text-center
            button.btn.btn-block.send-button.tx-tfm(type='submit') Login
        span Não têm conta? 
          a(href="cadastrar").link Cadastre-se.
        br
        span
          a(href="#")#esqueci-link.link Esqueci minha senha
  #modalEsqueci.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Esqueci minha senha
        .modal-body
          .row
            #conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
              form#form-enviar-esqueci(onsubmit='return false')
                .form-group
                  label(for='email') Digite seu Email para podermos redefinir sua senha: 
                  input.form-control(type='email', name='email', placeholder='exemplo@dominio.com', required='')
                .row
                  .col-md-12.text-center
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar
            #pos-conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
              img.img-responsive(src='images/email.png', style='display:block;margin:auto;max-width:140px;')
              h3.text-center Enviamos uma mensagem para seu email
              p
                | Siga as instruções na mensagem para alterar sua senha.
                br
                strong Não se esqueça de checar sua caixa de entrada de span.
              button.btn.btn-primary.btn-block(type="button")#btn-reenviar-esqueci Reenviar Email
              button.btn.btn-primary.btn-block(type="button")#btn-email-esqueci Digitei o email errado

block posscripts
  script.
    var infoEsqueci;
    $("#esqueci-link").on('click', function()
    {
      $("#conteudo-enviar-esqueci").show();
      $("#pos-conteudo-enviar-esqueci").hide();
      $("#modalEsqueci").modal('show');
    });
    
    $("#btn-email-esqueci").on('click', function()
    {
      $("#conteudo-enviar-esqueci").show();
      $("#pos-conteudo-enviar-esqueci").hide();
    });
    $("#btn-reenviar-esqueci").on('click', function()
    {
      var btn = $(this);
      $.ajax({
        method : "POST",
        url : "usuario/reenviaresqueci",
        data : infoEsqueci,
        beforeSend : function()
        {
          btn.html("Enviando...");
        },
        success : function()
        {
          $("#conteudo-enviar-esqueci").hide();
          $("#pos-conteudo-enviar-esqueci").show();
          GerarNotificacao("Mensagem enviada com sucesso", "success");
        },
        error : function(mensagem)
        {
          GerarNotificacao(mensagem.responseText, "danger");
        },
        complete : function()
        {
          btn.html("Reenviar email");
        }
      })
    });

    $("#form-enviar-esqueci").on('submit', function()
    {
      infoEsqueci = FormToAssocArray($(this));
      var btn = $(this).find("button[type='submit']");
      $.ajax({
        method : "POST",
        url : "usuario/criaresqueci",
        data : infoEsqueci,
        beforeSend : function()
        {
          btn.html("Enviando...")
        },
        success : function()
        {
          $("#conteudo-enviar-esqueci").hide();
          $("#pos-conteudo-enviar-esqueci").show();
        },
        error : function(mensagem)
        {
          GerarNotificacao(mensagem.responseText, "danger");
        },
        complete : function()
        {
          btn.html("Enviar");
        }
      })
    });

    $("#form-login").on('submit', function()
    {
      var info = FormToAssocArray($(this));
      $.ajax({
        method : "POST",
        url : "usuario/login",
        data : info,
        
        success : function()
        {
          window.location.href = "/";
        },
        error : function(mensagem)
        {
          GerarNotificacao(mensagem.responseText, "danger");
        }
      })
    });