extends templates/layout
block titulo
  | Opções
block content     
    h1 Opções
    .container-fluid
      .row
        .col-md-3.col-sm-12 
          h2 Alterar Nick
          form(onsubmit="return false")#form-alterar-nick
            .form-group
              label(for = "nick") Novo nick:
              input(type="text", value = "", name = "nick")#nick-atual.form-control
            button(type ="submit").btn-primary.btn Alterar
        .col-md-3.col-sm-12 
          h2 Alterar Email
          form(onsubmit="return false")#form-alterar-email
            .form-group
              label(for = "email") Novo email:
              input(type="text", value = "", name = "email")#email-atual.form-control
            .form-group
              label(for = "confemail") Confirmação do novo email:
              input(type="text", name = "confemail").form-control
            button(type ="submit").btn-primary.btn Alterar
        .col-md-3.col-sm-12 
          h2 Alterar Senha
          form(onsubmit="return false")#form-alterar-senha
            .form-group
              label(for = "senhaatual") Digite sua senha atual:
              input(type="password", name = "senhaatual").form-control
            .form-group
              label(for = "senha") Digite a sua nova senha:
              input(type="password", name = "senha").form-control
            .form-group
              label(for = "confsenha") Confirme sua nova senha:
              input(type="password", name = "confsenha").form-control
            button(type ="submit").btn-primary.btn Alterar
      .row
        h2 Conta ativada:
          - if(userdata.session.ativo == true)
              b.text-success  Sim
          - else {
              b.text-danger  Não
        p Você não têm acesso a todos os recursos do jogo enquanto a sua conta não é ativada.
        button(type = "button").btn.btn-primary#btn-enviar-ativo Reenviar email de ativação
          -}
          
block posscripts
  script(src="js/dist/pages/recursos.bundle.js")
  script(src="js/dist/pages/opcoes.bundle.js")