extends templates/layout
block titulo
  | Visão Geral
block content     
    include includes/navbar
    h1#nome-planeta

    
    .container
        h2 Recursos
        .row
            #recurso-ferro.col-md-3 Ferro: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
            #recurso-cristal.col-md-3 Cristal: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
            #recurso-uranio.col-md-3 Urânio: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
        .row
            hr
            #recurso-eletronica.col-md-3 Eletrônica: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
            #recurso-combustivel.col-md-3 Combustível: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
            #recurso-comida.col-md-3 Comida: 
                br
                | Atual: 
                span.recurso-atual
                br
                | Producao: 
                span.recurso-producao.text-success
        .row
            hr
            #recurso-energia.col-md-3 Energia: 
                br
                | Atual: 
                span.recurso-atual
            
    .container
        .row
            h2 Edificios
            #edificio-ferro.col-md-3
                h4 Mina de ferro
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-cristal.col-md-3
                h4 Mina de Cristal
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-uranio.col-md-3
                h4 Mina de Urânio
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-planta-solar.col-md-3
                h4 Planta Solar
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
        .row
            hr
            #edificio-reator-fusao.col-md-3
                h4 Reator de fusão
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                    li.custo-uranio Uranio: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-fabrica-eletronica.col-md-3
                h4 Fabrica eletrônica
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-sintetizador-combustivel.col-md-3
                h4 Sintetizador Combustível
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                    li.custo-uranio Urânio: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar
            #edificio-fazenda.col-md-3
                h4 Fazenda
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn.btn-success.btn-sm.btn-melhorar-edificio Melhorar



block posscripts
    script.
        var query = window.location.search.substring(1);
        var qs = parse_query_string(query);
        var planeta = null;
        var setor = null;
        var posSolObj = null;
        var posPlanetaObj = null;
        function GetEdificios()
        {
            var custoMinaFerro = GerenciadorRecursos.GetCustoUpgradeMinaFerro(planeta.minaFerro + 1);
            $("#edificio-ferro .edificio-nivel").text(planeta.minaFerro);
            $("#edificio-ferro .custo-ferro span").text(custoMinaFerro.ferro);
            $("#edificio-ferro .custo-cristal span").text(custoMinaFerro.cristal);
            $("#edificio-ferro .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoFerro(planeta.minaFerro + 1) - GerenciadorRecursos.GetProducaoFerro(planeta.minaFerro)) * 6)+ "/minuto");

            var custoMinaCristal = GerenciadorRecursos.GetCustoUpgradeMinaCristal(planeta.minaFerro + 1);
            $("#edificio-cristal .edificio-nivel").text(planeta.minaCristal);
            $("#edificio-cristal .custo-ferro span").text(custoMinaCristal.ferro);
            $("#edificio-cristal .custo-cristal span").text(custoMinaCristal.cristal);
            $("#edificio-cristal .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoCristal(planeta.minaCristal + 1) - GerenciadorRecursos.GetProducaoCristal(planeta.minaCristal)) * 6)+ "/minuto");

            var custoPlantaSolar = GerenciadorRecursos.GetCustoUpgradePlantaSolar(planeta.plantaSolar + 1);
            var intensidadeSolar = GerenciadorRecursos.GetIntensidadeSolarPlaneta(posSolObj, posPlanetaObj, setor.intensidadeSolar);
            $("#edificio-planta-solar .edificio-nivel").text(planeta.plantaSolar);
            $("#edificio-planta-solar .custo-ferro span").text(custoPlantaSolar.ferro);
            $("#edificio-planta-solar .custo-cristal span").text(custoPlantaSolar.cristal);
            $("#edificio-planta-solar .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoEnergiaPlantaSolar(planeta.plantaSolar + 1, intensidadeSolar) - GerenciadorRecursos.GetProducaoEnergiaPlantaSolar(planeta.plantaSolar, intensidadeSolar)) * 6)+ " total");

            var custoReatorFusao = GerenciadorRecursos.GetCustoUpgradeReatorFusao(planeta.reatorFusao + 1);
            $("#edificio-reator-fusao .edificio-nivel").text(planeta.reatorFusao);
            $("#edificio-reator-fusao .custo-ferro span").text(custoReatorFusao.ferro);
            $("#edificio-reator-fusao .custo-cristal span").text(custoReatorFusao.cristal);
            $("#edificio-reator-fusao .custo-uranio span").text(custoReatorFusao.uranio);
            $("#edificio-reator-fusao .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoEnergiaReatorFusao(planeta.reatorFusao + 1) - GerenciadorRecursos.GetProducaoEnergiaReatorFusao(planeta.reatorFusao)) * 6)+ " total");

            var custoMinaUranio = GerenciadorRecursos.GetCustoUpgradeMinaUranio(planeta.minaUranio + 1);
            $("#edificio-uranio .edificio-nivel").text(planeta.minaUranio);
            $("#edificio-uranio .custo-ferro span").text(custoMinaUranio.ferro);
            $("#edificio-uranio .custo-cristal span").text(custoMinaUranio.cristal);
            $("#edificio-uranio .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoUranio(planeta.minaUranio + 1) - GerenciadorRecursos.GetProducaoUranio(planeta.minaUranio)) * 6)+ "/minuto");

            var custoFabricaEletrônica = GerenciadorRecursos.GetCustoUpgradeFabricaEletronica(planeta.fabricaEletronica + 1);
            $("#edificio-fabrica-eletronica .edificio-nivel").text(planeta.fabricaEletronica);
            $("#edificio-fabrica-eletronica .custo-ferro span").text(custoFabricaEletrônica.ferro);
            $("#edificio-fabrica-eletronica .custo-cristal span").text(custoFabricaEletrônica.cristal);
            $("#edificio-fabrica-eletronica .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoEletronica(planeta.fabricaEletronica + 1) - GerenciadorRecursos.GetProducaoEletronica(planeta.fabricaEletronica)) * 6) + "/minuto");

            var custoFabricaEletrônica = GerenciadorRecursos.GetCustoUpgradeFabricaEletronica(planeta.fabricaEletronica + 1);
            $("#edificio-fabrica-eletronica .edificio-nivel").text(planeta.fabricaEletronica);
            $("#edificio-fabrica-eletronica .custo-ferro span").text(custoFabricaEletrônica.ferro);
            $("#edificio-fabrica-eletronica .custo-cristal span").text(custoFabricaEletrônica.cristal);
            $("#edificio-fabrica-eletronica .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoEletronica(planeta.fabricaEletronica + 1) - GerenciadorRecursos.GetProducaoEletronica(planeta.fabricaEletronica)) * 6) + "/minuto");

            var custoCombustivel = GerenciadorRecursos.GetCustoUpgradeFabricaEletronica(planeta.fabricaEletronica + 1);
            $("#edificio-sintetizador-combustivel .edificio-nivel").text(planeta.sintetizadorCombustivel);
            $("#edificio-sintetizador-combustivel .custo-ferro span").text(custoCombustivel.ferro);
            $("#edificio-sintetizador-combustivel .custo-cristal span").text(custoCombustivel.cristal);
            $("#edificio-sintetizador-combustivel .custo-uranio span").text(custoCombustivel.uranio);
            $("#edificio-sintetizador-combustivel .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoCombustivel(planeta.sintetizadorCombustivel + 1) - GerenciadorRecursos.GetProducaoCombustivel(planeta.sintetizadorCombustivel)) * 6) + "/minuto");

            var custoFazenda = GerenciadorRecursos.GetCustoUpgradeFazenda(planeta.fazenda + 1);
            $("#edificio-fazenda .edificio-nivel").text(planeta.fazenda);
            $("#edificio-fazenda .custo-ferro span").text(custoFazenda.ferro);
            $("#edificio-fazenda .custo-cristal span").text(custoFazenda.cristal);
            $("#edificio-fazenda .edificio-melhoria-producao").text("+" + String((GerenciadorRecursos.GetProducaoComida(planeta.fazenda + 1) - GerenciadorRecursos.GetProducaoComida(planeta.fazenda)) * 6) + "/minuto");

        }
        function GetRecursos()
        {
            let producao = GerenciadorRecursos.GetProducaoTotal({
                fabricaEletronica : planeta.fabricaEletronica,
                fazenda : planeta.fazenda,
                minaCristal : planeta.minaCristal,
                minaFerro : planeta.minaFerro,
                minaUranio : planeta.minaUranio,
                sintetizador : planeta.sintetizadorCombustivel
            }, planeta.plantaSolar, planeta.reatorFusao, {
                x : setor.solPosX,
                y : setor.solPosY
            }, {
                x : planeta.posX,
                y : planeta.posY
            }, setor.intensidadeSolar);
            $("#recurso-ferro .recurso-atual").text(planeta.recursoFerro);
            $("#recurso-ferro .recurso-producao").text("+" + producao.ferro * 6 + "/minuto");
            
            $("#recurso-cristal .recurso-atual").text(planeta.recursoCristal);
            $("#recurso-cristal .recurso-producao").text("+" + producao.cristal * 6 + "/minuto");

            $("#recurso-uranio .recurso-atual").text(planeta.recursoUranio);
            $("#recurso-uranio .recurso-producao").text("+" + producao.uranio * 6 + "/minuto");

            $("#recurso-eletronica .recurso-atual").text(planeta.recursoEletronica);
            $("#recurso-eletronica .recurso-producao").text("+" + producao.eletronica * 6 + "/minuto");

            $("#recurso-combustivel .recurso-atual").text(planeta.recursoCombustivel);
            $("#recurso-combustivel .recurso-producao").text("+" + producao.combustivel * 6 + "/minuto");

            $("#recurso-comida .recurso-atual").text(planeta.recursoComida);
            $("#recurso-comida .recurso-producao").text("+" + producao.comida * 6 + "/minuto");
            var producaoEnergia = GetEnergia(planeta.plantaSolar, planeta.reatorFusao, posSolObj, posPlanetaObj, setor.intensidadeSolar)
            var consumoEnergia = GetConsumoTotal(planeta.minaFerro, planeta.minaCristal, planeta.minaUranio, planeta.fabricaEletronica, planeta.sintetizadorCombustivel, planeta.fazenda);
            var valorEnergia = producaoEnergia - consumoEnergia;
            var positivo = (valorEnergia >= 0);
            if(positivo)
            {
                $("#recurso-energia .recurso-atual").text("+" + String(valorEnergia));
                $("#recurso-energia .recurso-atual").addClass("text-success");
                $("#recurso-energia .recurso-atual").removeClass("text-danger");
            }
            else
            {
                $("#recurso-energia .recurso-atual").text(String(valorEnergia));
                $("#recurso-energia .recurso-atual").addClass("text-danger");
                $("#recurso-energia .recurso-atual").removeClass("text-success");
            }
        }
        for(let i = 0; i < userdata.setores.length; i++)
        {
            let j;
            for(j = 0; j < userdata.setores[i].planetas.length; j++)
            {
                let planetaAtual = userdata.setores[i].planetas[j];
                if(planetaAtual.id == qs.id)
                {
                    planeta = planetaAtual;
                    setor = userdata.setores[i].setor;
                    posSolObj = {x : setor.solPosX, y : setor.solPosY};
                    posPlanetaObj = {x : planeta.posX, y : planeta.posY};
                    break;
                }
            }
        }
        if(planeta)
        {
            $("#nome-planeta").text(planeta.nome);
            GetRecursos();
            GetEdificios();
        }
        else
        {
            GerarNotificacao("Planeta não encontrado", 'danger');
        }
        



    