extends templates/layout
block titulo
  | Planeta
block content  
    h1#nome-planeta
    .container
        .row
            h2 Edificios
            #edificio-ferro.col-md-3.edificio(data-edificio = 'minaFerro')
                h4 Mina de ferro
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
            #edificio-cristal.col-md-3.edificio(data-edificio = 'minaCristal')
                h4 Mina de Cristal
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
            #edificio-titanio.col-md-3.edificio(data-edificio = 'minaTitanio')
                h4 Mina de Urânio
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
            #edificio-planta-solar.col-md-3.edificio(data-edificio = 'plantaSolar')
                h4 Planta Solar
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
        .row
            hr
            #edificio-reator-fusao.col-md-3.edificio(data-edificio = 'reatorFusao')
                h4 Reator de fusão
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                    li.custo-titanio Titanio: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
            #edificio-fabrica-componente.col-md-3.edificio(data-edificio = 'fabricaComponente')
                h4 Fabrica Componêntes
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                    li.custo-titanio Urânio: 
                        span        
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
            #edificio-fazenda.edificio.col-md-3(data-edificio = 'fazenda')
                h4 Fazenda
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria
        .row
            hr
            #edificio-armazem.col-md-3.edificio(data-edificio = 'armazem')
                h4 Armazem
                span nivel: 
                    span.edificio-nivel
                br
                span Custo de melhoria
                ul
                    li.custo-ferro Ferro: 
                        span
                    li.custo-cristal Cristal: 
                        span
                    li.custo-titanio Titanio: 
                        span
                br
                span.edificio-tempo-melhoria-antes Tempo de melhoria:
                    span
                br
                span Diferença em produção com melhoria: 
                    b
                        span.edificio-melhoria-producao.text-success
                br
                button.btn-ugrade-edificio.btn.btn-success.btn-sm Melhorar
                span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                    span
                button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden Calcelar Melhoria

block posscripts
    script(src="js/dist/pages/edificios.bundle.js")
        



    