extends templates/layout
block titulo
  | !{topico.nome}
block content     
    include includes/navbar
    h1 !{topico.nome}
    #mensagens-conteudo
    #paginacao-topico-forum
    .container#conteiner-adicionar-mensagem(style = 'display:none')
      .row
        .well(style='padding-bottom:0')
          form(onsubmit='return false')#form-inserir-mensagem-forum
            textarea(name='conteudo', placeholder='Digite sua mensagem...', rows='5' style = "resize:vertical").form-control
            br
            button.btn.btn-info(type='submit') Postar mensagem
    #modal-editar-mensagem-topico.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Adicionar tópico
          .modal-body
            .container-fluid
              .row
                form(onsubmit='return false')#form-editar-mensagem-topico
                  input(type="hidden", name="id" val ="")#form-editar-mensagem-topico-id
                  textarea(name='conteudo', placeholder='Digite sua mensagem...', rows='5' style = "resize:vertical").form-control#form-editar-mensagem-topico-conteudo
                  br
                  button.btn.btn-info(type='submit') Editar mensagem

block posscripts
  script(src="js/pagination.min.js")
  script(src="js/meta/view_topico-forum.js")