doctype html
html
  head
    title  
      block titulo
      |  - Imperium
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    script.
      const userdataString = '!{JSON.stringify(userdata).replace(/[\/\(\)\']/g, "\\$&")}'
      userdata = JSON.parse(userdataString)  
      ip = '!{enderecoIP}'   
      ioPort = '!{ioPort}'
    script(src="js/dist/bundle.general.userdata.js")
    block posHead
    script(src="js/dist/bundle.general.js")
  body.imperium-body
    include ./../includes/recursos
    include ./../includes/aside-navbar
    main
      block content
    script(src="js/dist/pages/recursos.bundle.js")
    block posscripts
      
      