doctype html
html
  head
    title  
      block titulo
      |  - Imperium
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/bootstrap-theme.min.css")
    link(rel='stylesheet', href="/stylesheets/animate.css")
    link(rel='stylesheet', href="/stylesheets/fontawesome-all.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/jquery.js")
    script(src="js/socket.io.js")
    - if(typeof(session) !== 'undefined'){
      .script
        const uID = !{session.id};
        const uNick = !{session.nick};
        const uEmail = !{session.email};
        const uAtivo = !{session.ativo};
    -}
    
  body
    main
      block content
    script(src="js/bootstrap.min.js")
    script(src="js/bootbox.min.js")
    script(src="js/bootstrap-notify.min.js")
    script(src="js/util.js")
    block posscripts