extends ../../templates/layout
block titulo
  | Aliança

block posHead
  link(rel="stylesheet", href="js/sceditor/minified/themes/default.min.css")
  script(src = "js/sceditor/minified/sceditor.min.js")
  script(src = "js/sceditor/languages/pt-BR.js")
  script(src = "js/sceditor/minified/formats/bbcode.js")
block content     
  .container-fluid
    .row
      h1#titulo-alianca.imperium-title Aliança
      .row.hidden#criar-alianca
        .col-md-12#sem-alianca.imperium-gradient-background-medium.opcoes-container
          .opcoes-container-title.imperium-gradient-background-heavy2
            h2 Criar Aliança
          form(onsubmit = "return false")#form-criar-alianca
            .form-group
              label(for="nome").imperium-label Nome da aliança:
              input(type="text", name="nome", placeholder = "Digite o nome da aliança que será criada", required).form-control.imperium-input
            .form-group
              label(for="tag").imperium-label Tag da aliança:
              input(type="text", name="tag", placeholder = "Digite o tag da aliança que será criada", required).form-control.imperium-input
            .row
              .col-md-offset-3.col-md-6.text-center
                  button.btn.btn-success.btn-lg.btn-block(type='submit').imperium-input Criar
      .row.hidden#aplicacao-alianca
        .col-sm-12.col-md-offset-3.col-md-6
          h3.text-center Aplicação enviada para 
            |aplicacao.alianca.nome
          .col-md-offset-3.col-md-6.text-center
              button.btn.btn-danger.btn-lg.btn-block(type='button')#btn-cancelar-aplicacao Cancelar Aplicação
      .row.hidden#com-alianca
        .col-md-12.imperium-gradient-background-heavy
          .tabbable-panel
            .tabbable-line
                ul.nav.nav-tabs.nav-justified
                  li.tab-btn.active#tab-geral
                    a(href ="#") Visão Geral
                  li.tab-btn#tab-administracao
                    a(href = "#") Administração
                  li.tab-btn#tab-mensagem-circular
                    a(href = "#") Mensagem Circular
                  li.tab-btn#tab-aplicacoes
                    a(href = "#") Aplicações
                .tab-content#tab-content-alianca
          .row
              .col-md-offset-4.col-md-4.text-center
                  button.btn.btn-warning.btn-lg.btn-block#btn-sair-alianca Sair da Aliança
    
  include ../../templates/enviar-mensagem-privada

block posscripts
  script(src="js/dist/pages/alianca.bundle.js")