extends ../../templates/layout
block titulo
  | Mensagens
block content     
  h1 Mensagens privadas
  .container-fluid
      .row
          .col-md-12
              .tabbable-panel
                  .tabbable-line
                      ul.nav.nav-tabs.imperium-nav-tabs
                        li.tab-btn#tab-btn-in
                          a(href ="#") Mensagens Recebidas
                        li.tab-btn#tab-btn-out
                          a(href = "#") Mensagens Enviadas
                        li.tab-btn#tab-btn-aliancas
                          a(href = "#") Mensagens de aliança
                      .tab-content
  #modal-visualizar-mensagem-privada.modal.fade(role='dialog').imperium-modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title
            .modal-body(style = 'overflow:scroll')
              .container-fluid
                .row
                    .col-md-offset-1.col-md-10.col-sm-12
                      .row
                        h4.nome
                        p.conteudo
                      .row
                        h4 Responder
                        form(onsubmit='return false')
                            input(type="hidden", name="destinatario").destinatario.imperium-input
                            input(type="hidden", name="assunto").assunto.imperium-input
                            .form-group
                                textarea(name='mensagem' rows = '10' style = "resize: vertical; width:100%").form-control.imperium-input
                            .row
                                .col-md-offset-3.col-md-6.text-center
                                    button.btn.btn-primary.btn-lg.btn-block.imperium-input(type='submit') Responder Mensagem
  
block posscripts