extends ../../templates/layout
block titulo
  | Fórum
block content     
  h1.imperium-title Fórum da 
    span
  .container-fluid
    .row
      .col-md-12
        br
        .table-responsive
          table.table.imperium-table.imperium-table-background#conteudo-forum
      #paginacao-forum.pagination
    #conteudo-forum-admin
  #modal-adicionar-topico.modal.fade(role='dialog').imperium-modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Adicionar tópico
        .modal-body
          .container-fluid
            .row
              .col-md-offset-1.col-md-10.col-sm-12
                  form(onsubmit='return false')#form-adicionar-topico
                      .form-group
                        label(for="nome").imperium-label Nome do tópico
                        input(type="text", name="nome").imperium-input.form-control
                      .checkbox
                        label(for="responder").imperium-label
                          input(type="checkbox", name="responder")
                          | Apenas o líder e administradores do fórum podem responder
                      .checkbox
                        label(for="destaque").imperium-label
                          input(type="checkbox", name="destaque") 
                          | Tópico em destaque
                      .row
                          .col-md-offset-3.col-md-6.text-center
                              button.btn.btn-success.btn-lg.btn-block(type='submit').imperium-input  Adicionar
  #modal-editar-topico.modal.fade(role='dialog').imperium-modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Editar tópico
        .modal-body
          .container-fluid
            .row
              .col-md-offset-1.col-md-10.col-sm-12
                form(onsubmit='return false')#form-editar-topico
                  input(type="hidden", name="id")#form-editar-topico-id
                  .form-group
                    label(for="nome").imperium-label Nome do tópico
                    input(type="text", name="nome")#form-editar-topico-nome.form-control.imperium-input
                  .checkbox
                    label(for="responder").imperium-label
                      input(type="checkbox", name="responder")#form-editar-topico-responder
                      | Apenas o líder e administradores do fórum podem responder
                  .checkbox
                    label(for="destaque").imperium-label
                      input(type="checkbox", name="destaque")#form-editar-topico-destaque
                      | Tópico em destaque
                  .row
                    .col-md-offset-3.col-md-6.text-center
                      button.btn.btn-primary.btn-lg.btn-block(type='submit').imperium-input Editar
block posscripts