a {
  color: #00B7FF;
}
main
{
  margin-top: 60px;
  z-index: 19;
}

.c-pointer:hover
{
  cursor:pointer
}

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  cursor:pointer;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}


.send-button{
  background: #54C7C3;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  .g-button{
  color: #fff !important;
  border: 1px solid #EA4335;
  background: #ea4335 !important;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  .my-input{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border .1s linear;
  }
  .header-title{
  margin: 5rem 0;
  }
  h1{
  font-size: 31px;
  line-height: 40px;
  font-weight: 600;
  color:#4c5357;
  }
  h2{
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  }
  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
  @media screen and (max-width:480px){
  h1{
  font-size: 26px;
  }
  h2{
  font-size: 20px;
  }
  }


main
{
	margin-left: auto;
    width: calc(100% - 250px);
}

aside
{
	position: fixed;
    width: 250px;
    height: 100%;
    background-color: #262626;
    color: white;
    padding: 69px 0px;
    transition: all .5s;
    overflow: hidden;
    z-index: 20;
}

.ativo
{
	background-color:#080808;
}
aside img
{
    width: 35px;
}

aside ul
{
    list-style: none;
    padding-left:0px;
}

aside li 
{
    padding: 12px 0px;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color .15s;
}

aside li:hover:not(.ativo)
{
	background-color:#1f1f1f;
}
#abrir_menu_div
{
	display: none;
	cursor:pointer;
}

#abrir_menu_div img
{
	width: 20px;
	margin: auto;
	display: block;
}

aside span
{
	position: relative;
    top:5px;
    font-size: 22px;
    left: 15px;
    color: white !important;
}
@media screen and (max-width:892px)
{
	aside li
	{
		display:flow-root;
		border-color:transparent;
		    padding-left: 7px;
			padding-bottom: 18px;
	}
	aside li:hover:not(.ativo)
	{
		background-color:#bd4148;
		border-color:transparent;
	}
	aside ul img 
	{
		width: 20px;
    position: relative;
    top: 6px;
	}
	aside
	{
		width:35px;
		padding-top: 30px;
	}
	aside ul
	{
		    margin-top: 30px;
	}
	aside ul span
	{
            position: absolute;
	    top: unset;
	    left: 40px;
	}
	main
	{
		width:calc(100% - 35px);
		left:35px;
	}

  
	#abrir_menu_div
	{
		display:block;
  }
  .ativo
	{
		background-color:#b93232;
	}
	
}