extends ../../../../../templates/userdata-layout
block titulo 
    | Galáxia
block content
    h1.imperium-title Mapa da galaxia
    .mapa-container.imperium-scrollbar
        svg.mapa-svg
    
    
block posscripts