extends ../../../../../templates/userdata-layout
block titulo 
    | Galáxia
block content
    h1.imperium-title Mapa da galaxia
    .mapa-container.imperium-scrollbar
        svg.mapa-svg
    
    .setor-popup.imperium-gradient-background-medium.hidden
        .container-fluid
            
            .col-md-6.col-setor
                button.btn.btn-info.btn-sm.btn-fechar-setor-popup Fechar
                h2 Setor
                .operacoes-ofensivas(style="display:inline")
                    button.btn.btn-danger.btn-sm.operacao-btn(data-operacao="pilhar")
                        | Pilhar
                .operacoes-defensivas(style="display:inline")
                .operacoes-neutras(style="display:inline")
                .operacoes-neutras(style="display:inline")
                    button.btn.btn-primary.btn-sm.operacao-btn(data-operacao="colonizar")
                        | Colonizar
                .table-responsive.imperium-scrollbar
                    table.table.imperium-table
                        tbody
                            tr
                                td Planetario: 
                                td.planetario 
                            tr
                                td Intensidade Solar: 
                                td.intensidade-solar 
                            tr
                                td Total de planetas
                                td.total-planetas 
            .col-md-6.col-usuario
                    h2 
                    button.btn.btn-primary.btn-sm
                        i.fa.fa-comment
                    .table-responsive.imperium-scrollbar
                        table.table.imperium-table
                            tbody
                                tr
                                    td Classificação: 
                                    td.classificacao 
                                tr
                                    td Pontos de honra: 
                                    td.honra 
                                tr
                                    td Em férias: 
                                    td.ferias
                                tr
                                    td Banido: 
                                    td.banido
    #modal-operacao.modal.fade(role='dialog').imperium-modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Operação militar
                .modal-body
                    .container-fluid
                        .row
                            .col-md-offset-1.col-md-10.col-sm-12
                                form(onsubmit='return false')#form-operacao
                                    input(type="hidden", name="operacao", value="")#form-operacao-operacao
                                    input(type="hidden", name="planetaID", value="")#form-operacao-planeta
                                    input(type="hidden", name="setorDestino", value="")#form-operacao-setorDestino
                                    #div-frota
                                    .row
                                        .col-md-offset-3.col-md-6.text-center
                                            button.btn.btn-primary.btn-lg.btn-block(type='submit').imperium-input Enviar
block posscripts