doctype html
html(lang="pt-br")
  head
    title Página Inicial - Imperium
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
  body
    header#login-header
        #login-card
            h1 IMPERIUM
            #login-content
                ul.nav.nav-tabs.nav-justified
                    li.active#nav-tab-login
                        a(href="#") Login
                    li#nav-tab-cadastro
                        a(href="#") Cadastrar
                .tab-content.imperium-gradient-background-heavy
                    form(onsubmit="return false")#form-login
                        .form-group
                            label(for="nick").imperium-label Nickname ou email:
                            input.form-control(type='text', name='usuario', placeholder='Digite seu Nickname ou email', required).imperium-input
                        .form-group(style="margin-bottom:0px")
                            label(for="senha").imperium-label Senha:
                            input.form-control(type='password', name='senha', placeholder='*******', required).imperium-input
                        span.imperium-link.imperium-color-light#esqueci-link Esqueci minha senha
                        .row(style="margin-top:10px;")
                            .col-md-offset-3.col-md-6.col-sm-12
                                button.btn.btn-block.btn-success.btn-block(type='submit').imperium-input Login
                    form(onsubmit="return false")#form-cadastro.hidden
                        .form-group
                            label(for="nick").imperium-label Nickname:
                            input.form-control.my-input(type='text', name='nick', placeholder='Nickname da sua conta', required).imperium-input
                        .form-group
                            label(for="email").imperium-label Email:
                            input.form-control.my-input(type='email', name='email', placeholder='exemplo@dominio.com', required).imperium-input
                        .form-group
                            label(for="senha").imperium-label Senha:
                            input.form-control.my-input(type='password', name='senha', placeholder='*******', required).imperium-input
                        .form-group
                            label(for="confsenha").imperium-label Confirmação da senha:
                            input.form-control.my-input(type='password', name='confsenha', placeholder='*******', required).imperium-input
                        span Ao cadastar, você concorda com os 
                            span.imperium-link.imperium-color-light termos e condições de uso 
                            | e com as 
                            span.imperium-link.imperium-color-light políticas de privacidade
                        div.row(style="margin-top:10px;")
                            .col-md-offset-3.col-md-6.col-sm-12
                                button.btn.btn-block.btn-success.btn-block(type='submit').imperium-input Cadastrar
    section.sobre-section#sobre-section-cards.imperium-fake-line-before
        .container
            .col-md-4
                h2 SUA GALÁXIA
                p Tome conta da galaxia com mais de 1000 sistemas estelares.
            .col-md-4
                h2 MULTIPLAYER
                p Jogue com vários outros jogadores online.
            .col-md-4
                h2 JOGO BROWSER
                p Jogue pelo seu navegador de internet.

    section.sobre-section#sobre-section-colonizacao.imperium-fake-line-before
        h2 EXPANDA SUA CIVILIZAÇÃO
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper dolor, quis vehicula orci.
    section.sobre-section#sobre-section-aliancas.imperium-fake-line-before
        h2 FORME ALIANÇAS
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper dolor, quis vehicula orci.
    section.sobre-section#sobre-section-conquiste.imperium-fake-line-before
        h2 CONQUISTE SEUS INIMIGOS
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper dolor, quis vehicula orci.
    section.sobre-section#sobre-section-conquiste.imperium-fake-line-before
        h2 CONQUISTE SEUS INIMIGOS
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum ullamcorper dolor, quis vehicula orci.
    #modalEsqueci.modal.fade(role='dialog').imperium-modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Esqueci minha senha
                .modal-body
                    .row
                        #conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
                            form#form-enviar-esqueci(onsubmit='return false')
                                .form-group
                                    label(for='email').imperium-label Digite seu Email para podermos redefinir sua senha: 
                                    input.form-control(type='email', name='email', placeholder='exemplo@dominio.com', required='').imperium-input
                                .row
                                    .col-md-12.text-center
                                        button.btn.btn-primary.btn-block(type='submit').imperium-input Enviar
                        #pos-conteudo-enviar-esqueci.col-md-offset-1.col-md-10.col-sm-12
                            img.img-responsive(src='/images/email.png', style='display:block;margin:auto;max-width:140px;')
                            h3.text-center Enviamos uma mensagem para seu email
                            p
                                | Siga as instruções na mensagem para alterar sua senha.
                                br
                                strong Não se esqueça de checar sua caixa de entrada de span.
                            button.btn.btn-primary.btn-block(type="button")#btn-reenviar-esqueci Reenviar Email
                            button.btn.btn-primary.btn-block(type="button")#btn-email-esqueci Digitei o email errado
    block posscripts