
.container
  .row
    .col-md-12.text-center
      -if(erro == 0) 
        p.text-success Sua conta foi ativada com sucesso
      -if(erro == 1)
        p.text-danger Link inválido.
      -if(erro == 2)
        p.text-primary Sua conta já esta ativada
      -if(erro == 3)
        p.text-danger Este link não é mais válido. Requisite novamente.