doctype html
html
  head
    title Ativar conta
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "Christian Lemos")
    link(rel = "icon", href = "/images/logo_pre.png")
    script(src="js/dist/bundle.general.js")
  body
    section#ativar-main
      .container.imperium-modal
        .row.modal-content
          .col-md-12
              div#ativar-titulo 
                h1 Ativar Conta
              .div-ativando
                h2.text-center Ativando...
              .div-sucesso.hidden
                h2.text-center 
                  b Conta ativada com sucesso
                .col-md-offset-3.col-md-6.col-sm-12
                  a(href="/").btn.btn-success.imperium-input.btn-block.btn-lg Acessar o jogo
              .div-erro.hidden
                img(src="/images/warning.png", alt="Erro").img-responsive
                p.texto-erro 

    script(src="js/dist/pages/ativar.bundle.js")
