extends ../../../../../templates/userdata-layout
block titulo
  | Planeta
block content  
    .container-fluid
        .row
            h1.imperium-title Recursos
            #edificio-ferro.col-md-12.edificio(data-edificio = 'minaFerro')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/mina-ferro.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Mina de ferro
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-energia
                                .imperium-resource.imperium-resource-energy
                                span 
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-cristal.col-md-12.edificio(data-edificio = 'minaCristal')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/mina-cristal.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Mina de Cristal
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-energia
                                .imperium-resource.imperium-resource-energy
                                span 
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-titanio.col-md-12.edificio(data-edificio = 'minaTitanio')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/mina-titanio.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Mina de Titânio
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-energia
                                .imperium-resource.imperium-resource-energy
                                span 
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-planta-solar.col-md-12.edificio(data-edificio = 'plantaSolar')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/planta-solar.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Planta Solar
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-reator-fusao.col-md-12.edificio(data-edificio = 'reatorFusao')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/reator-fusao.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Reator de fusão
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span 
                            div.custo-titanio
                                .imperium-resource.imperium-resource-titanium
                                span
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-fabrica-componente.col-md-12.edificio(data-edificio = 'fabricaComponente')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/fabrica-componente.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Fábrica de componentes
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-titanio
                                .imperium-resource.imperium-resource-titanium
                                span
                            div.custo-energia
                                .imperium-resource.imperium-resource-energy
                                span 
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-fazenda.col-md-12.edificio(data-edificio = 'fazenda')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/fazenda.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Fazenda
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-energia
                                .imperium-resource.imperium-resource-energy
                                span 
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença em produção com melhoria: 
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
            #edificio-armazem.col-md-12.edificio(data-edificio = 'armazem')
                .col-md-2.edificio-img.imperium-gradient-background-medium
                    img(src='/images/armazem.jpg')
                    .edificio-img-overlay-master
                        .edificio-img-overlay-fill
                        .edificio-img-overlay-text
                .col-md-6.edificio-desc.imperium-gradient-background-medium
                    .edificio-desc-titulo
                        h4 Armazém
                        span Nível:  
                            span.edificio-nivel
                    div
                        span Custo de melhoria
                        .imperium-resource-list 
                            div.custo-ferro
                                .imperium-resource.imperium-resource-iron
                                span
                            div.custo-cristal
                                .imperium-resource.imperium-resource-cristal
                                span
                            div.custo-titanio
                                .imperium-resource.imperium-resource-titanium
                                span
                            div.custo-componente
                                .imperium-resource.imperium-resource-component
                                span
                        div(style="clear:both")
                            span.edificio-tempo-melhoria-antes Tempo de melhoria: 
                                span
                                |  Segundos
               
                        span Diferença de armazenamento:
                            b
                                span.edificio-melhoria-producao.text-success
                        br
                        
                        button.btn-ugrade-edificio.btn.btn-success.btn-sm.btn-block.imperium-input(style="margin-top:20px") Melhorar
                        span(style = "display: block").edificio-tempo-melhoria-depois.hidden Tempo de melhoria:
                            span
                        button.btn-calcelar-melhoria.btn.btn-warning.btn-sm.hidden.btn-block.imperium-input(style="margin-top:10px") Calcelar Melhoria
           

block posscripts
        



    