extends ../../../../../templates/userdata-layout
block titulo
  | Militar
block content     
  .table-responsive.imperium-scrollbar
      table.table.table-bordered.imperium-table#table-unidades.imperium-table-background
        thead
          tr
            th Nome
            th HP
            th Armadura
            th Escudo
            th Evasão
            th Capacidade de Transporte
            th Velocidade
            th Dano
            th Quantidade de armas
            th Total
            th Ações
        tbody

    
          
block posscripts