extends ../../../../../templates/userdata-layout
block titulo
  | Militar
block content
  h1.imperium-title Construção de frotas
  .table-responsive.imperium-scrollbar
      table.table.table-bordered.imperium-table#table-unidades.imperium-table-background
        thead
          tr
            th Nome
            th Custo
            th HP
            th Armadura
            th Escudo
            th Evasão
            th Capacidade de Transporte
            th Velocidade
            th Dano
            th Quantidade de armas
            th Total
            th Ações
        tbody
  h1.imperium-title Construção em andamento
  .table-responsive.imperium-scrollbar
      table.table.table-bordered.imperium-table#table-construcoes.imperium-table-background
        thead
          tr
            th Nave
            th Tempo restante
            th Quantidade
        tbody
  #modal-construir-unidade.modal.fade(role='dialog').imperium-modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Construir
            span
        .modal-body
          .container-fluid
            .row
              .col-md-offset-1.col-md-10.col-sm-12
                  .custo
                  form(onsubmit='return false')#form-construir-unidade
                      input(type="hidden", name = "unidade")
                      .form-group
                        label(for="quantidade").imperium-label Quantidade: 
                        input(type="number", name="quantidade").imperium-input.form-control
                      .row
                        .col-md-offset-3.col-md-6.text-center
                            button.btn.btn-primary.btn-lg.btn-block(type='submit').imperium-input  Construir
    
          
block posscripts